<div class="pagewrap">
  <!-- Header -->
  <header class="header">
    <a class="logo" href="/PartyUpBeta/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.7 228.1">
        <path d="M120.7,0H0v55.3h121.2c14.8,0,26.8,12,26.8,26.7v0c0,14.8-12,26.8-26.8,26.8H0v32.9V164v64.1h63.3V164h57.3  c45.3,0,82-36.7,82-82v0C202.7,36.7,166,0,120.7,0z"/>
      </svg>
    </a>
  </header>

  <!-- Profile Form -->
  <form id="MyForm">
    <label> PSN Gamertag <input type="text" name="psn"/> </label>
    <label> XBOX Gamertag <input type="text" name="xbox"/> </label>
    <label> Interests (Games) <input type="text" name="interests"/> </label>
    <input type="submit" class="btn" value="Update">
    <a href="http://localhost/PartyUpBeta/#/timeline" class="btn cancel">Cancel</a>
  </form>
</div>
