//////////////////////////////////
//      WEBSITE VARIABLES      //
/////////////////////////////////

// Font Variables
$font-base: "Open Sans", sans-serif;
$font-head: "Montserrat", Helvetica, Arial, sans-serif;
$font-size: 16px;

// Colours
$text-color: #1E1E1E;
$grey-color: #EEEEEE;
$back-color: #FFFFFF;
$brand-color: #00A2C5;
